ATLAS_URI=YOUR_STRING_CONNECTION
DATABASE=NAME_DATABASE
PORT=5000

SECRET_KEY=GENERATOR_SECRET_KEY_PROJECT

# Twilio message
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=


# Mercado Pago
MERCADO_PAGO_TOKEN=